user_uuid="db8fc491-7712-4149-b2c2-19a84f7c3cc6"
bucket_name="ivcj9ect1ex2hk158j7uozqdfbdj9f2l"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version=1